body{font-family: 'Roboto', sans-serif;
background-color: #FAFAFA;}

.topbar{display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
height: 54px;
position: fixed;
top: 0;
left: 0;
z-index: 1;
border: 1px solid #DBDBDB;
background-color: #FFFFFF;
}

.logo{display: flex;
justify-content: center;
align-items: center;
margin-left: 20px;}

.logo ion-icon{font-size:25px;
margin: 2px;}

.logo img{margin-left: 5px;}

.instagram{
margin-left: 5px;
border-left: 1px solid #dbdbdb;}

.searchbar{background-color: #FAFAFA;
width: 215px;
height: 28px;    
border: 1px solid #DBDBDB;
border-radius: 3px;
display: flex;
justify-content: center;
align-items:center;}
.searchbar{text-align: center;}

.icons{display: flex;
margin-right: 20px;}
.icons ion-icon{
margin:auto 10px;
font-size: 25px;
}

.post video{width: 100%;}

.post-title{display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
font-weight: 500;}
.post-title img{max-width: 32px;
margin: 10px;}
.left{display: flex;
align-items: center;}


.comments{padding: 1px 5px;
display: flex;
justify-content: space-between;}
.comment-text{display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;}
.comment-text ion-icon{z-index: 1;}
.comment-text b{
font-weight: 500;
margin-right:15px;}
.comment-text p{
text-overflow: ellipsis;
font-weight: 400;
font-size: 15px;
display: block;}

.your-comment{display: flex;
justify-content: space-between;
align-items: center;
padding: 1px 5px;}
.your-comment h4{color: #B2DFFC;
font-weight: 500;}
.your-comment h4:hover{transition-duration: 300ms;
color: #0095F6 ;}
.add-comment{display: flex;
justify-content: center;
align-items: center;}
.add-comment input{border: hidden;}

.pagecontent{
width: 917px;
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;}

.leftcontent{
background-color: #FAFAFA;
display: block;
justify-content: center;
align-items: center;}

.rightcontent{
position: fixed;
width: 293px;
align-self: flex-end;
display: flex;
flex-direction: column;
padding-top: 57px;}
    
.storybar{
width: 614px;
height: 118px;
margin-top: 84px;
margin-bottom: 24px;
display: flex;
align-items: center;
overflow:hidden;
border: 1px solid #DBDBDB;
background-color: #ffffff;
position: relative;
}

.arrow{
width: 26px;
height: 26px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
right: 10px;
bottom:50px;
filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
background-color: rgba(0, 0, 0, 0.2);
}

.storie{
flex: 0 0 auto;
margin: auto 14px ;
width: 66px;
height: 82px;
display: block;
text-align: center;
}

.storie h1{font-size: 12px;
font-weight: 400;
margin-top: 4px;
text-overflow: ellipsis;
overflow: hidden;}

.circle{
width: 66px;
height: 66px;
border-radius: 33px;
display: flex;
justify-content: center;
align-items: center;
background-image: url(imgs/stories_background\ 4.png);
}

.post{
width: 614px;
margin-bottom:60px;
border-radius: 3px ;
border: 1px solid #DBDBDB;
background-color: #FFFFFF;
}
.post h3{
padding: 1px 5px;
font-size: 14px;
color: #C7C7C7;}
.post img{width: 100%;}

.post-icons{
display: flex;
justify-content: space-between;}

.post ion-icon{margin: 5px; font-size: 25px;}

.likes{display: flex;
align-items: center;}
.likes img{max-width: 20px;
margin: 10px;}
.likes b{font-size: 14px;
font-weight: 500;}
.likes p{font-weight: 300;}

.profile{display: flex;
align-items: center;
margin-top: 56px;
padding-bottom: 20px;}

.profile-content{
margin-left: 15px;
display: block;
font-size: 14px}

.profile-content b{font-weight: 500;}
.profile-content p{font-weight: 300;
color: #8E8E8E;
margin: 2px auto;}
.profile .profile-pic{
margin:10px;}

.suggestions{
margin-left: 29px;
display: flex;
justify-content: space-between;
font-size: 12px;
font-weight: 500;}
.suggestions h3{color: #8e8e8e;}
.suggestions h4{color: #262626;}

.profiles-follow{display: flex;
justify-content: space-between;
align-items: center;}

.suggested{display: block;
align-items: center;}
.suggested .profiles{display: flex;
margin: 16px 24px 16px 10px;}
.suggested h4{color:#139EF2;}
.credits{font-size: 11px;
font-weight: 400;
color: #C7C7C7;}

.lowerbar{display: none;
position: fixed;
left: 0;
right: 0;
bottom: 0;
height: 54px;
background-color: #FFFFFF;
border: 1px solid #DBDBDB;
justify-content: space-between;
align-items: center;
padding: 0 15px;
font-size: 20px;}

@media (max-width: 935px){
    .pagecontent{width: 100%;}
    .rightcontent{display: none;}
    .leftcontent{margin: auto;}
    .storybar{width: 614px;}
    .post{width: 614px;}
    .topbar{justify-content: space-between;}
    .lowerbar{display: hide;}
}

@media (max-width: 614px){
    .pagecontent{width: 100%;}
    .lowerbar{display: flex;}
    .rightcontent{display: none;}
    .icons ion-icon{font-size: 20px;}
    .storie{margin: auto 8px;}
    .storybar{width: 100vw;}
    .post{width: 100vw;}
    .arrow{display: hide;}
    #compass{display: none;}
    #person{display: none;}
    #heart{display: none;}
    .instagram{display: none;}
    .searchbar{display: none;}
    .topbar{background-image: url(imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center;}
    .arrow{display: none;}
}


